<p id="notice"><%= notice %></p>

<h1>Providers</h1>

<table>
  <thead>
    <tr>
      <th>Fantasy name</th>
      <th>Cnpj</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Company</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.fantasy_name %></td>
        <td><%= provider.cnpj %></td>
        <td><%= provider.address_id %></td>
        <td><%= provider.phone %></td>
        <td><%= provider.email %></td>
        <td><%= provider.contact %></td>
        <td><%= provider.company_id %></td>
        <td><%= provider.rating %></td>
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
