<p id="notice"><%= notice %></p>

<p>
  <strong>Fantasy name:</strong>
  <%= @provider.fantasy_name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @provider.cnpj %>
</p>

<p>
  <strong>Address:</strong>
  <%= @provider.address_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @provider.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @provider.contact %>
</p>

<p>
  <strong>Company:</strong>
  <%= @provider.company_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @provider.rating %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
