<p id="notice"><%= notice %></p>

<h1>Cashes</h1>

<table>
  <thead>
    <tr>
      <th>Subtotal</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashes.each do |cash| %>
      <tr>
        <td><%= cash.subtotal %></td>
        <td><%= cash.company_id %></td>
        <td><%= link_to 'Show', cash %></td>
        <td><%= link_to 'Edit', edit_cash_path(cash) %></td>
        <td><%= link_to 'Destroy', cash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cash', new_cash_path %>
