<p id="notice"><%= notice %></p>

<p>
  <strong>Subtotal:</strong>
  <%= @cash.subtotal %>
</p>

<p>
  <strong>Company:</strong>
  <%= @cash.company_id %>
</p>

<%= link_to 'Edit', edit_cash_path(@cash) %> |
<%= link_to 'Back', cashes_path %>
