<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @product_type.description %>
</p>

<%= link_to 'Edit', edit_product_type_path(@product_type) %> |
<%= link_to 'Back', product_types_path %>
