<%= form_with(model: status_scheduling, local: true) do |form| %>
  <% if status_scheduling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(status_scheduling.errors.count, "error") %> prohibited this status_scheduling from being saved:</h2>

      <ul>
        <% status_scheduling.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
