<p id="notice"><%= notice %></p>

<h1>Status Schedulings</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_schedulings.each do |status_scheduling| %>
      <tr>
        <td><%= status_scheduling.description %></td>
        <td><%= link_to 'Show', status_scheduling %></td>
        <td><%= link_to 'Edit', edit_status_scheduling_path(status_scheduling) %></td>
        <td><%= link_to 'Destroy', status_scheduling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status Scheduling', new_status_scheduling_path %>
