<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @status_scheduling.description %>
</p>

<%= link_to 'Edit', edit_status_scheduling_path(@status_scheduling) %> |
<%= link_to 'Back', status_schedulings_path %>
