<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @payment_method.description %>
</p>

<%= link_to 'Edit', edit_payment_method_path(@payment_method) %> |
<%= link_to 'Back', payment_methods_path %>
