<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @product_color.description %>
</p>

<%= link_to 'Edit', edit_product_color_path(@product_color) %> |
<%= link_to 'Back', product_colors_path %>
