<!-- Header Card -->
<div class="card bg-secondary border-0 mb-0">
    <div class="card-header bg-transparent pb-5">
        <div class="text-muted text-center mt-2 mb-3"><small>Criar conta usando</small></div>
        <div class="btn-wrapper text-center">
            <a href="#" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="/assets/icons/github.svg"></span>
                <span class="btn-inner--text">Github</span>
            </a>
            <a href="#" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="/assets/icons/google.svg"></span>
                <span class="btn-inner--text">Google</span>
            </a>
        </div>
    </div>
    <!-- Body Card -->
    <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
            <small>Ou usando as credenciais</small>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group mb-3">
                <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Senha" %>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <%= f.password_field :password_confirmation, autocomplete: "current-password", class: "form-control", placeholder: "Confirmar senha" %>
                </div>
            </div>
            <div class="text-center">
                <div class="actions">
                    <%= f.submit "Criar conta", class: "btn btn-primary my-4" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<!-- Footer Links -->
<div class="row mt-3">
    <div class="col-12">
        <div class="col-12 text-left">
            <a href="/users/sign_in" class="text-light"><small>Voltar para login</small></a>
        </div>
    </div>
</div>
