<%= form_with(model: product_unit_measurement, local: true) do |form| %>
  <% if product_unit_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_unit_measurement.errors.count, "error") %> prohibited this product_unit_measurement from being saved:</h2>

      <ul>
        <% product_unit_measurement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
