<h1>Editing Product Unit Measurement</h1>

<%= render 'form', product_unit_measurement: @product_unit_measurement %>

<%= link_to 'Show', @product_unit_measurement %> |
<%= link_to 'Back', product_unit_measurements_path %>
