<p id="notice"><%= notice %></p>

<h1>Product Unit Measurements</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_unit_measurements.each do |product_unit_measurement| %>
      <tr>
        <td><%= product_unit_measurement.description %></td>
        <td><%= link_to 'Show', product_unit_measurement %></td>
        <td><%= link_to 'Edit', edit_product_unit_measurement_path(product_unit_measurement) %></td>
        <td><%= link_to 'Destroy', product_unit_measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Unit Measurement', new_product_unit_measurement_path %>
