<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @product_unit_measurement.description %>
</p>

<%= link_to 'Edit', edit_product_unit_measurement_path(@product_unit_measurement) %> |
<%= link_to 'Back', product_unit_measurements_path %>
