<%= form_with(model: bank_name, local: true) do |form| %>
  <% if bank_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank_name.errors.count, "error") %> prohibited this bank_name from being saved:</h2>

      <ul>
        <% bank_name.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
