<p id="notice"><%= notice %></p>

<h1>Bank Names</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_names.each do |bank_name| %>
      <tr>
        <td><%= bank_name.description %></td>
        <td><%= link_to 'Show', bank_name %></td>
        <td><%= link_to 'Edit', edit_bank_name_path(bank_name) %></td>
        <td><%= link_to 'Destroy', bank_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank Name', new_bank_name_path %>
