<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @bank_name.description %>
</p>

<%= link_to 'Edit', edit_bank_name_path(@bank_name) %> |
<%= link_to 'Back', bank_names_path %>
