<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @product_size.description %>
</p>

<%= link_to 'Edit', edit_product_size_path(@product_size) %> |
<%= link_to 'Back', product_sizes_path %>
