<p id="notice"><%= notice %></p>

<h1>Operation Types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operation_types.each do |operation_type| %>
      <tr>
        <td><%= operation_type.description %></td>
        <td><%= link_to 'Show', operation_type %></td>
        <td><%= link_to 'Edit', edit_operation_type_path(operation_type) %></td>
        <td><%= link_to 'Destroy', operation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation Type', new_operation_type_path %>
