<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @cost_type.description %>
</p>

<%= link_to 'Edit', edit_cost_type_path(@cost_type) %> |
<%= link_to 'Back', cost_types_path %>
