<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @stock.product_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @stock.company_id %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
