<div class="container" >
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <%# header e botão Novo %>
                <div class="card-header bg-transparent">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="h3 mb-0"><%= action_name == 'new' ? 'Novo' : 'Editar' %> Usuário</h5>
                            </div>
                            <div class="col-md-auto">
                            </div>
                            <div class="col col-lg-2">
                                <%# <%= link_to 'Novo Usuário', new_user_path, class:"btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                </div>
                
                <%# Body User Form %>
                <div class="card-body">
                    <div class="table-responsive">
                        <%= form_for :user, :url => '/admins_create' do |form| %>
                            <% if user.errors.any? %>
                                <div id="error_explanation">
                                    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                                    <ul>
                                    <% user.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                    <% end %>
                                    </ul>
                                </div>
                            <% end %>

                            <div class="">
                                <%= form.label 'Nome' %>
                                <%= form.text_field :name , class: "form-control" %>
                            </div>

                            <div class="">
                                <%= form.label :email %>
                                <%= form.text_field :email, class: "form-control" %>
                            </div>

                            <div class="">
                                <%= form.label 'Senha' %>
                                <% if @minimum_password_length %>
                                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                                <% end %><br />
                                <%= form.password_field :password, autocomplete: "off" , class: "form-control"%>
                            </div>

                            <div class="">
                                <%= form.label 'Confirmar Senha' %><br />
                                <%= form.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                            </div>

                            <div class="field">
                                <%= form.label 'Telefone' %>
                                <%= form.text_field :phone %>
                            </div>

                            <div class="field">
                                <%= form.label 'CPF' %>
                                <%= form.text_field :cpf %>
                            </div>

                            <div class="field">
                                <%= form.label 'RG' %>
                                <%= form.text_field :rg %>
                            </div>

                            <div class="field">
                                <%= form.label 'Data de Nascimento' %>
                                <%= form.date_select :birthdate %>
                            </div>

                            <div class="field">
                                <%= form.label 'Perfil' %>
                                <%= form.collection_select(:profile_id, Profile.all, :id, :name) %>
                            </div>

                            <!-- <div class="field">
                                <%= form.label :average_rating %>
                                <%= form.text_field :average_rating %>
                            </div> -->

                            <%= fields_for :address do | address_fields | %>

                                <div class="field">
                                    <%= address_fields.label 'CEP' %>
                                    <%= address_fields.text_field :zip_code %>
                                </div>

                                <div class="field">
                                    <%= address_fields.label 'Estado' %>
                                    <%= address_fields.text_field :state %>
                                </div>

                                <div class="field">
                                    <%= address_fields.label 'Cidade' %>
                                    <%= address_fields.text_field :city %>
                                </div>

                                <div class="field">
                                    <%= address_fields.label 'Bairro' %>
                                    <%= address_fields.text_field :neighborhood %>
                                </div>

                                <div class="field">
                                    <%= address_fields.label 'Rua' %>
                                    <%= address_fields.text_field :street %>
                                </div>

                                <div class="field">
                                    <%= address_fields.label 'Número' %>
                                    <%= address_fields.text_field :number %>
                                </div>

                                <!-- <div class="field">
                                    <%= address_fields.label :latitude %>
                                    <%= address_fields.text_field :latitude %>
                                </div>

                                <div class="field">
                                    <%= address_fields.label :longitude %>
                                    <%= address_fields.text_field :longitude %>
                                </div> -->

                            <% end %>

                            <div class="text-right">
                                <% if action_name == 'new' %>
                                    <%= link_to 'VOLTAR', users_path, class: 'btn btn-warning btn-fill btn-wd' %>
                                    <%# <%= form.submit 'SALVAR', class: 'btn btn-success btn-fill btn-wd' %>
                                <% else %>
                                    <%= link_to 'CANCELAR', @user, class: 'btn btn-warning btn-fill btn-wd' %>
                                    
                                <% end %>
                                <%= form.submit 'SALVAR', class: 'btn btn-success btn-fill btn-wd' %>
                            </div>
                        <% end %>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
