<p id="notice"><%= notice %></p>

<div class="container" >
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <%# header e botão Novo %>
                <div class="card-header bg-transparent">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="h3 mb-0">Usuários</h5>
                            </div>
                            <div class="col-md-auto">
                            </div>
                            <div class="col col-lg-2">
                                <%= link_to 'Novo Usuário', new_user_path, class:"btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                </div>
                
                <%# Tabela %>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Cpf</th>
                                    <th>Rg</th>
                                    <th>Birthdate</th>
                                    <th>Profile</th>
                                    <th>Average rating</th>
                                    <th colspan="1"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <% @users.each do |user| %>
                                    <tr>
                                        <td><%= user.name %></td>
                                        <td><%= user.email %></td>
                                        <td><%= user.phone %></td>
                                        <td><%= user.cpf %></td>
                                        <td><%= user.rg %></td>
                                        <td><%= user.birthdate %></td>
                                        <td><%= user.profile_id %></td>
                                        <td><%= user.average_rating %></td>
                                        <td>
                                            <%= link_to 'Ver', user, class:"btn btn-outline-primary"%>
                                            <%= link_to 'Editar', edit_user_path(user), class:"btn btn-outline-warning" %>
                                            <%= link_to 'Deletar', user, class:"btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                        
                    </div>
                    
                    <%# Paginação %>
                    <%= paginate @users, outer_window: 3 %>
                </div> 

            </div>
            
        </div>
    </div>
</div>