<!-- Header Card -->
<div class="card bg-secondary border-0 mb-0">
    <!-- Body Card -->
    <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
            <h3>Esqueceu sua senha?</h3><br/>
            <small>Digite o email que foi usado para criar sua conta e lhe enviaremos um email com as intruções para criar uma nova senha.</small>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group mb-3">
                <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
                </div>
            </div>
            
            <div class="text-center col-12">
                <div class="actions">
                    <%= f.submit "Receber instruções para redefinir senha", class: "btn btn-primary my-4" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<!-- Footer Links -->
<div class="row mt-3">
    <div class="col-6">
        <a href="/users/sign_in" class="text-light"><small>Entrar</small></a>
    </div>
    <div class="col-6 text-right">
        <a href="/users/sign_up" class="text-light"><small>Criar nova conta</small></a>
    </div>
</div>