<!-- Header Card -->
<div class="card bg-secondary border-0 mb-0">
    <!-- Body Card -->
    <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
            <h3>Altere sua senha abaixo</h3>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <small><%= render "devise/shared/error_messages", resource: resource %></small>
            <%= f.hidden_field :reset_password_token %>
           
            <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                    <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                    <% end %>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Nova senha" %>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirmar nova senha", autocomplete: "new-password" %>
                </div>
            </div>
            
            <div class="text-center col-12">
                <div class="actions">
                    <%= f.submit "Alterar senha", class: "btn btn-primary my-4" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<!-- Footer Links -->
<div class="row mt-3">
    <div class="col-6">
        <a href="/users/sign_in" class="text-light"><small>Entrar</small></a>
    </div>
</div>


<%= render "devise/shared/links" %>