<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @cost.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cost.description %>
</p>

<p>
  <strong>Cost type:</strong>
  <%= @cost.cost_type_id %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @cost.payment_method_id %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
