<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fantasy name</th>
      <th>Email</th>
      <th>Cnpj</th>
      <th>Phone</th>
      <th>Instagram</th>
      <th>Facebook</th>
      <th>Website</th>
      <th>User</th>
      <th>Average rating</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.fantasy_name %></td>
        <td><%= company.email %></td>
        <td><%= company.cnpj %></td>
        <td><%= company.phone %></td>
        <td><%= company.instagram %></td>
        <td><%= company.facebook %></td>
        <td><%= company.website %></td>
        <td><%= company.user_id %></td>
        <td><%= company.average_rating %></td>
        <td><%= company.address_id %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
