<p id="notice"><%= notice %></p>

<h1>Product Categories</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_categories.each do |product_category| %>
      <tr>
        <td><%= product_category.description %></td>
        <td><%= link_to 'Show', product_category %></td>
        <td><%= link_to 'Edit', edit_product_category_path(product_category) %></td>
        <td><%= link_to 'Destroy', product_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Category', new_product_category_path %>
