<p id="notice"><%= notice %></p>

<h1>Status Users</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_users.each do |status_user| %>
      <tr>
        <td><%= status_user.description %></td>
        <td><%= link_to 'Show', status_user %></td>
        <td><%= link_to 'Edit', edit_status_user_path(status_user) %></td>
        <td><%= link_to 'Destroy', status_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status User', new_status_user_path %>
