<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @status_user.description %>
</p>

<%= link_to 'Edit', edit_status_user_path(@status_user) %> |
<%= link_to 'Back', status_users_path %>
