<p id="notice"><%= notice %></p>

<h1>Bank Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Agency</th>
      <th>Account number</th>
      <th>Balance available</th>
      <th>Bank name</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_accounts.each do |bank_account| %>
      <tr>
        <td><%= bank_account.agency %></td>
        <td><%= bank_account.account_number %></td>
        <td><%= bank_account.balance_available %></td>
        <td><%= bank_account.bank_name_id %></td>
        <td><%= bank_account.company_id %></td>
        <td><%= link_to 'Show', bank_account %></td>
        <td><%= link_to 'Edit', edit_bank_account_path(bank_account) %></td>
        <td><%= link_to 'Destroy', bank_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank Account', new_bank_account_path %>
