<p id="notice"><%= notice %></p>

<p>
  <strong>Agency:</strong>
  <%= @bank_account.agency %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @bank_account.account_number %>
</p>

<p>
  <strong>Balance available:</strong>
  <%= @bank_account.balance_available %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @bank_account.bank_name_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @bank_account.company_id %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
