<p id="notice"><%= notice %></p>

<h1>Product Brands</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_brands.each do |product_brand| %>
      <tr>
        <td><%= product_brand.description %></td>
        <td><%= link_to 'Show', product_brand %></td>
        <td><%= link_to 'Edit', edit_product_brand_path(product_brand) %></td>
        <td><%= link_to 'Destroy', product_brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Brand', new_product_brand_path %>
