<div style="background-color: #172b4d!important;">
    <div class="main-content">
        <!-- Header -->
        <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                            <h1 class="text-white">Bem vindo!</h1>
                            <p class="text-lead text-white">Utilize nosso formulário para entrar or criar uma nova conta.</p>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">

                    <% if request.fullpath == '/users/sign_in' %>
                        <%= render 'form_new_session' %> 
                    <% elsif request.fullpath == '/users/sign_up' %>
                        <%= render 'form_new_registration' %>
                    <% elsif request.fullpath == '/users/password/new' || request.fullpath == '/users/password' %>
                        <%= render 'form_new_password' %>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
    <!-- Footer Main -->
    <footer class="py-5" id="footer-main">
        <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                © 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
            </div>
            </div>
            <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </footer>
</div>