<p id="notice"><%= notice %></p>

<h1>Schedulings</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Start time</th>
      <th>Finish time</th>
      <th>User</th>
      <th>Company</th>
      <th>Observations</th>
      <th>Status scheduling</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedulings.each do |scheduling| %>
      <tr>
        <td><%= scheduling.date %></td>
        <td><%= scheduling.start_time %></td>
        <td><%= scheduling.finish_time %></td>
        <td><%= scheduling.user_id %></td>
        <td><%= scheduling.company_id %></td>
        <td><%= scheduling.observations %></td>
        <td><%= scheduling.status_scheduling_id %></td>
        <td><%= scheduling.service_id %></td>
        <td><%= link_to 'Show', scheduling %></td>
        <td><%= link_to 'Edit', edit_scheduling_path(scheduling) %></td>
        <td><%= link_to 'Destroy', scheduling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduling', new_scheduling_path %>
