<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @scheduling.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @scheduling.start_time %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @scheduling.finish_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @scheduling.user_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @scheduling.company_id %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @scheduling.observations %>
</p>

<p>
  <strong>Status scheduling:</strong>
  <%= @scheduling.status_scheduling_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @scheduling.service_id %>
</p>

<%= link_to 'Edit', edit_scheduling_path(@scheduling) %> |
<%= link_to 'Back', schedulings_path %>
