<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity on stock</th>
      <th>Price</th>
      <th>Weight</th>
      <th>Fabrication date</th>
      <th>Validity</th>
      <th>Discount</th>
      <th>Average rating</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.quantity_on_stock %></td>
        <td><%= product.price %></td>
        <td><%= product.weight %></td>
        <td><%= product.fabrication_date %></td>
        <td><%= product.validity %></td>
        <td><%= product.discount %></td>
        <td><%= product.average_rating %></td>
        <td><%= product.company_id %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
