<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity on stock:</strong>
  <%= @product.quantity_on_stock %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Fabrication date:</strong>
  <%= @product.fabrication_date %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @product.validity %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<p>
  <strong>Average rating:</strong>
  <%= @product.average_rating %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.company_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
