<div class="container" >
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <%# header e botão Novo %>
                <div class="card-header bg-transparent">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="h3 mb-0"><%= action_name == 'new' ? 'Novo' : 'Editar' %> Atendimento</h5>
                            </div>
                            <div class="col-md-auto">
                            </div>
                            <div class="col col-lg-2">
                                <%# <%= link_to 'Novo Usuário', new_user_path, class:"btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                </div>
                
                <%# Body User Form %>
                <div class="card-body">
                    <div class="table-responsive">
                        <%= form_with(model: attendance, local: true) do |form| %>
                            <% if attendance.errors.any? %>
                                <div id="error_explanation">
                                    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                                    <ul>
                                    <% attendance.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                    <% end %>
                                    </ul>
                                </div>
                            <% end %>

                            <div class="">
                                <%= form.label 'Data' %>
                                <%= form.datetime_select :date , class: "form-control" %>
                            </div>

                            <div class="">
                                <%= form.label 'Hora Início' %>
                                <%= form.time_select :start_time, class: "form-control" %>
                            </div>

                            <div class="">
                                <%= form.label 'Hora Fim' %>
                                <%= form.time_select :finish_time, class: "form-control" %>
                            </div>

                            <div class="field">
                                <%= form.label 'Classificação' %>
                                <%= form.text_field :rating, class: "form-control" %>
                            </div>

                            <div class="field">
                                <%= form.label 'Total' %>
                                <%= form.text_field :total, class: "form-control" %>
                            </div>

                            <div class="field">
                                <%= form.label 'Desconto' %>
                                <%= form.text_field :discount, class: "form-control" %>
                            </div>

                            <div class="field">
                                <%= form.label 'UserId' %>
                                <%= form.text_field :user_id, class: "form-control" %>
                            </div>

                            <div class="field">
                                <%= form.label 'Company Id' %>
                                <%= form.text_field :company_id, class: "form-control" %>
                            </div>

                            <div class="field">
                                <%= form.label 'Service Id' %>
                                <%= form.text_field :service_id, class: "form-control" %>
                            </div>

                            <div class="field">
                                <%= form.label 'Product Id' %>
                                <%= form.text_field :product_id, class: "form-control" %>
                            </div>

                            <div class="field">
                                <%= form.label 'Payment Method Id' %>
                                <%= form.text_field :payment_method_id, class: "form-control" %>
                            </div>

                            <div class="text-right">
                                <% if action_name == 'new' %>
                                    <%= link_to 'VOLTAR', users_path, class: 'btn btn-warning btn-fill btn-wd' %>
                                    <%# <%= form.submit 'SALVAR', class: 'btn btn-success btn-fill btn-wd' %>
                                <% else %>
                                    <%= link_to 'CANCELAR', @user, class: 'btn btn-warning btn-fill btn-wd' %>
                                    
                                <% end %>
                                <%= form.submit 'SALVAR', class: 'btn btn-success btn-fill btn-wd' %>
                            </div>
                        <% end %>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
