<p id="notice"><%= notice %></p>

<div class="container" >
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <%# header e botão Novo %>
                <div class="card-header bg-transparent">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="h3 mb-0">Atendimentos</h5>
                            </div>
                            <div class="col-md-auto">
                            </div>
                            <div class="col col-lg-2">
                                <%= link_to 'Novo Atendimento', new_attendance_path, class:"btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                </div>
                
                <%# Tabela %>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Start time</th>
                                    <th>Finish time</th>
                                    <th>Rating</th>
                                    <th>Total</th>
                                    <th>Discount</th>
                                    <th>User</th>
                                    <th>Company</th>
                                    <th>Service</th>
                                    <th>Product</th>
                                    <th>Payment method</th>
                                    <th colspan="1"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <% @attendances.each do |attendance| %>
                                    <tr>

                                        <td><%= attendance.date %></td>
                                        <td><%= attendance.start_time %></td>
                                        <td><%= attendance.finish_time %></td>
                                        <td><%= attendance.rating %></td>
                                        <td><%= attendance.total %></td>
                                        <td><%= attendance.discount %></td>
                                        <td><%= attendance.user_id %></td>
                                        <td><%= attendance.company_id %></td>
                                        <td><%= attendance.service_id %></td>
                                        <td><%= attendance.product_id %></td>
                                        <td><%= attendance.payment_method_id %></td>
                                        <td>
                                            <%= link_to 'Ver', attendance, class:"btn btn-outline-primary"%>
                                            <%= link_to 'Editar', edit_attendance_path(attendance), class:"btn btn-outline-warning" %>
                                            <%= link_to 'Deletar', attendance, class:"btn btn-outline-danger", method: :delete, data: { confirm: 'Você tem certeza?' } %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                        
                    </div>
                    
                    <%# Paginação %>
                    <%# <%= paginate @attendances, outer_window: 3 %>
                </div> 

            </div>
            
        </div>
    </div>
</div>
