<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @attendance.start_time %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @attendance.finish_time %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @attendance.rating %>
</p>

<p>
  <strong>Total:</strong>
  <%= @attendance.total %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @attendance.discount %>
</p>

<p>
  <strong>User:</strong>
  <%= @attendance.user_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @attendance.company_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @attendance.service_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @attendance.product_id %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @attendance.payment_method_id %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
