<!DOCTYPE html>
<html>
    <head>
        <title>Gerenciador Salão</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
        <meta name="author" content="Creative Tim">
        <!-- Favicon -->
        <link rel="icon" href="/assets/brand/favicon.png" type="image/png">
        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
        <!-- Icons -->
        <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
        <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
        <!-- Page plugins -->
        <!-- Argon CSS -->
        <link rel="stylesheet" href="/assets/stylesheets/argon.css?v=1.2.0" type="text/css">
    </head>
    <body class="g-sidenav-show g-sidenav-pinned">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!-- Sidenav -->
        <% if current_user != nil %>
            <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
                <div class="scroll-wrapper scrollbar-inner" style="position: relative;">
                    <div class="scrollbar-inner scroll-content" style="height: 883px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
                        <!-- Brand -->
                        <div class="sidenav-header  align-items-center">
                            <a class="navbar-brand" href="javascript:void(0)">
                                <img src="/assets/brand/blue.png" class="navbar-brand-img" alt="...">
                            </a>
                        </div>
                        <div class="navbar-inner">
                            <!-- Collapse -->
                            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                                <!-- Nav items -->
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/dashboards">
                                            <i class="ni ni-tv-2 text-primary"></i>
                                            <span class="nav-link-text">Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/users">
                                            <i class="ni ni-planet text-orange"></i>
                                            <span class="nav-link-text">Usuários</span>
                                            <!-- <%= link_to 'Usuários', users_path, class:"nav-link-text "%> -->
                                        </a>
                                        
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/attendances">
                                            <i class="ni ni-pin-3 text-primary"></i>
                                            <span class="nav-link-text">Atendimentos</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/schedulings">
                                            <i class="ni ni-single-02 text-yellow"></i>
                                            <span class="nav-link-text">Agendamentos</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/services">
                                            <i class="ni ni-bullet-list-67 text-default"></i>
                                            <span class="nav-link-text">Serviços</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">
                                            <i class="ni ni-key-25 text-info"></i>
                                            <span class="nav-link-text">Login</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">
                                            <i class="ni ni-circle-08 text-pink"></i>
                                            <span class="nav-link-text">Register</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">
                                        <i class="ni ni-send text-dark"></i>
                                        <span class="nav-link-text">Upgrade</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Divider -->
                                <hr class="my-3">
                                <!-- Heading -->
                                <h6 class="navbar-heading p-0 text-muted">
                                    <span class="docs-normal">Documentation</span>
                                </h6>
                                <!-- Navigation -->
                                <ul class="navbar-nav mb-md-3">
                                    <li class="nav-item">
                                        <a class="nav-link" href="" target="">
                                        <i class="ni ni-spaceship"></i>
                                        <span class="nav-link-text">Getting started</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="" target="">
                                        <i class="ni ni-palette"></i>
                                        <span class="nav-link-text">Foundation</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="" target="">
                                        <i class="ni ni-ui-04"></i>
                                        <span class="nav-link-text">Components</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="" target="">
                                        <i class="ni ni-chart-pie-35"></i>
                                        <span class="nav-link-text">Plugins</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active active-pro" href="">
                                        <i class="ni ni-send text-dark"></i>
                                        <span class="nav-link-text">Upgrade to PRO</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-element scroll-x">
                        <div class="scroll-element_outer">
                            <div class="scroll-element_size"></div>
                            <div class="scroll-element_track"></div>
                            <div class="scroll-bar" style="width: 0px;"></div>
                        </div>
                    </div>
                    <div class="scroll-element scroll-y">
                        <div class="scroll-element_outer">
                            <div class="scroll-element_size"></div>
                            <div class="scroll-element_track"></div>
                            <div class="scroll-bar" style="height: 0px;"></div>
                        </div>
                    </div>
                </div>
            </nav>
        <% end %>
        <!-- Main content -->
        <div class="main-content" id="panel">
            <!-- Topnav -->
            <% if current_user != nil %>
                <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <!-- Search form -->
                            <%# <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                                <div class="form-group mb-0">
                                    <div class="input-group input-group-alternative input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Search" type="text">
                                    </div>
                                </div>
                                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </form> %>
                            <!-- Navbar links -->
                            <ul class="navbar-nav align-items-center  ml-md-auto ">
                                <%# <li class="nav-item d-xl-none">
                                    <!-- Sidenav toggler -->
                                    <div class="pr-3 sidenav-toggler sidenav-toggler-dark active" data-action="sidenav-pin" data-target="#sidenav-main">
                                        <div class="sidenav-toggler-inner">
                                            <i class="sidenav-toggler-line"></i>
                                            <i class="sidenav-toggler-line"></i>
                                            <i class="sidenav-toggler-line"></i>
                                        </div>
                                    </div>
                                </li> %>
                                <%# <li class="nav-item d-sm-none">
                                    <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                                    <i class="ni ni-zoom-split-in"></i>
                                    </a>
                                </li> %>

                                <!-- Sino -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ni ni-bell-55"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                                        <!-- Dropdown header -->
                                        <div class="px-3 py-3">
                                            <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong> notifications.</h6>
                                        </div>
                                        <!-- List group -->
                                        <div class="list-group list-group-flush">
                                            <a href="#!" class="list-group-item list-group-item-action">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <!-- Avatar -->
                                                        <img alt="Image placeholder" src="/assets/theme/team-1.jpg" class="avatar rounded-circle">
                                                    </div>
                                                    <div class="col ml--2">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <h4 class="mb-0 text-sm">John Snow</h4>
                                                            </div>
                                                            <div class="text-right text-muted">
                                                                <small>2 hrs ago</small>
                                                            </div>
                                                        </div>
                                                        <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#!" class="list-group-item list-group-item-action">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <!-- Avatar -->
                                                        <img alt="Image placeholder" src="/assets/theme/team-2.jpg" class="avatar rounded-circle">
                                                    </div>
                                                    <div class="col ml--2">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <h4 class="mb-0 text-sm">John Snow</h4>
                                                            </div>
                                                            <div class="text-right text-muted">
                                                                <small>3 hrs ago</small>
                                                            </div>
                                                        </div>
                                                        <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#!" class="list-group-item list-group-item-action">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <!-- Avatar -->
                                                        <img alt="Image placeholder" src="/assets/theme/team-3.jpg" class="avatar rounded-circle">
                                                    </div>
                                                    <div class="col ml--2">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <h4 class="mb-0 text-sm">John Snow</h4>
                                                            </div>
                                                            <div class="text-right text-muted">
                                                                <small>5 hrs ago</small>
                                                            </div>
                                                        </div>
                                                        <p class="text-sm mb-0">Your posts have been liked a lot.</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#!" class="list-group-item list-group-item-action">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <!-- Avatar -->
                                                        <img alt="Image placeholder" src="/assets/theme/team-4.jpg" class="avatar rounded-circle">
                                                    </div>
                                                    <div class="col ml--2">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <h4 class="mb-0 text-sm">John Snow</h4>
                                                            </div>
                                                            <div class="text-right text-muted">
                                                                <small>2 hrs ago</small>
                                                            </div>
                                                        </div>
                                                        <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#!" class="list-group-item list-group-item-action">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <!-- Avatar -->
                                                        <img alt="Image placeholder" src="/assets/theme/team-5.jpg" class="avatar rounded-circle">
                                                    </div>
                                                    <div class="col ml--2">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <h4 class="mb-0 text-sm">John Snow</h4>
                                                            </div>
                                                            <div class="text-right text-muted">
                                                                <small>3 hrs ago</small>
                                                            </div>
                                                        </div>
                                                        <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- View all -->
                                        <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
                                    </div>
                                </li>

                                <!-- Caixinhas -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ni ni-ungroup"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default  dropdown-menu-right ">
                                        <div class="row shortcuts px-4">
                                            <a href="#!" class="col-4 shortcut-item">
                                                <span class="shortcut-media avatar rounded-circle bg-gradient-red">
                                                    <i class="ni ni-calendar-grid-58"></i>
                                                </span>
                                                <small>Calendar</small>
                                            </a>
                                            <a href="#!" class="col-4 shortcut-item">
                                                <span class="shortcut-media avatar rounded-circle bg-gradient-orange">
                                                    <i class="ni ni-email-83"></i>
                                                </span>
                                                <small>Email</small>
                                            </a>
                                            <a href="#!" class="col-4 shortcut-item">
                                                <span class="shortcut-media avatar rounded-circle bg-gradient-info">
                                                    <i class="ni ni-credit-card"></i>
                                                </span>
                                                <small>Payments</small>
                                            </a>
                                            <a href="#!" class="col-4 shortcut-item">
                                                <span class="shortcut-media avatar rounded-circle bg-gradient-green">
                                                    <i class="ni ni-books"></i>
                                                </span>
                                                <small>Reports</small>
                                            </a>
                                            <a href="#!" class="col-4 shortcut-item">
                                                <span class="shortcut-media avatar rounded-circle bg-gradient-purple">
                                                    <i class="ni ni-pin-3"></i>
                                                </span>
                                                <small>Maps</small>
                                            </a>
                                            <a href="#!" class="col-4 shortcut-item">
                                                <span class="shortcut-media avatar rounded-circle bg-gradient-yellow">
                                                    <i class="ni ni-basket"></i>
                                                </span>
                                                <small>Shop</small>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <!-- DropDown Foto Perfil Avatar-->
                            <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                                <li class="nav-item dropdown">
                                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="media align-items-center">
                                            <span class="avatar avatar-sm rounded-circle">
                                                <img alt="Image placeholder" src="/assets/theme/team-4.jpg">
                                            </span>
                                            <div class="media-body  ml-2  d-none d-lg-block">
                                                <%# <span class="mb-0 text-sm  font-weight-bold"><%= current_user != nil ? current_user.name : "" </span> %>
                                                <%# <span class="mb-0 text-sm  font-weight-bold"><%= current_user != nil ? current_user.name : "" %>
                                                <span class="mb-0 text-sm  font-weight-bold">Fernanda</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu  dropdown-menu-right ">
                                        <div class="dropdown-header noti-title">
                                            <h6 class="text-overflow m-0">Welcome!</h6>
                                        </div>
                                        <a href="#!" class="dropdown-item">
                                            <i class="ni ni-single-02"></i>
                                            <span>My profile</span>
                                        </a>
                                            <a href="#!" class="dropdown-item">
                                            <i class="ni ni-settings-gear-65"></i>
                                            <span>Settings</span>
                                        </a>
                                        <a href="#!" class="dropdown-item">
                                            <i class="ni ni-calendar-grid-58"></i>
                                            <span>Activity</span>
                                        </a>
                                        <a href="#!" class="dropdown-item">
                                            <i class="ni ni-support-16"></i>
                                            <span>Support</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                            <a href="/sessions/sign_out" class="dropdown-item">
                                            <i class="ni ni-user-run"></i>
                                            <span>Logout</span>
                                            <!-- <% if current_user != nil %>
                                                <%= link_to "Log out", destroy_user_session_path(current_user), :method => :delete %>
                                            <% end %> -->
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            <% end %>
            
            <%= yield %>
            
        </div>
        <!-- Argon Scripts -->
        <!-- Core -->
        <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/js-cookie/js.cookie.js"></script>
        <script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <!-- Optional JS -->
        <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="/assets/vendor/chart.js/dist/Chart.extension.js"></script>
        <!-- Argon JS -->
        <script src="/assets/javascripts/argon.min.js?v=1.2.0"></script>
        <div class="backdrop d-xl-none" data-action="sidenav-unpin" data-target="undefined"></div>
        <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
            <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
        </div>
    </body>
</html>