<p id="notice"><%= notice %></p>

<h1>Operations</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Discount</th>
      <th>Subtotal</th>
      <th>Total</th>
      <th>Product</th>
      <th>Company</th>
      <th>Operation type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.quantity %></td>
        <td><%= operation.discount %></td>
        <td><%= operation.subtotal %></td>
        <td><%= operation.total %></td>
        <td><%= operation.product_id %></td>
        <td><%= operation.company_id %></td>
        <td><%= operation.operation_type_id %></td>
        <td><%= link_to 'Show', operation %></td>
        <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
        <td><%= link_to 'Destroy', operation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation', new_operation_path %>
