<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @operation.quantity %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @operation.discount %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @operation.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @operation.total %>
</p>

<p>
  <strong>Product:</strong>
  <%= @operation.product_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @operation.company_id %>
</p>

<p>
  <strong>Operation type:</strong>
  <%= @operation.operation_type_id %>
</p>

<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>
